.sostiene {
  height: 35px;
  width: 5px;
  background-color: black;
  margin: 50px;
}
.soporte {
  height: 140px;
  width: 50px;
  background-color: black;
  margin-top: -50px;
  margin-left: 30px;
  border-radius: 5px;
 
}
.soporte .rojo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgb(190, 4, 4);
  margin: 5px;
  position: relative;
  top: 6px
}
.soporte .amarillo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgb(172, 172, 3);
  margin: 5px;
  position: relative;
  top: 3px;
}
.soporte .verde {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgb(2, 92, 2);
  margin: 5px;
}
.rojo:active{
  box-shadow: #f8ffcc 0px 0px 50px 20px;
}
.amarillo:active{
  box-shadow: #f8ffcc 0px 0px 50px 20px;
}
.verde:active{
  box-shadow: #f8ffcc 0px 0px 50px 20px;
}